body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}
:root {
    --white: #FFFFFF;
    --gray-black: #333333;
    --light-blue: #4a86e8;
    --dark-blue: #135693;
    --light-gray: #EFEFEF;
    --hr-hight: 7px;
    --padding-menu: 25px;
    --fs-menu: 1.3rem;
}
.container {
    max-width: 1110px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.border {
    height: var(--hr-hight);
    border-width: 0;
    margin: 0;
    color: var(--light-blue);
    background-color: var(--light-blue);
}
.bg-black {
    background-color: var(--gray-black);
}
.nav-wrap {
    display: flex;
    align-content: center;
    justify-content: center;
}
.link {
    display: inline-block;
    box-sizing: border-box;
    color: var(--light-gray);
    min-width: 200px;
    height: 70px;
    text-align: center;
    padding: var(--padding-menu);
    font-size: 1.1rem;
    cursor: pointer;
    text-transform: uppercase;
}
span.link::after{
    content: "+";
    font-size: var(--fs-menu);
    position: relative;
    left: 10px;
    top: 1.5px;
}
/* if menu item have span instead of a, add '+' to indicate that it has sub menu */
.menu-item > span::after {
    content: "+";
    font-size: var(--fs-menu);
    position: absolute;
    left: 85%;
}
.link:hover {
    background-color: var(--light-blue);
    transition: all 0.3s ease;
}
.wrap-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    visibility: hidden;
    opacity: 0.4;
    transform: translateY(-7px);
}
ul.nav-wrap > li {
    position: relative;
}
.menu-item, .nested-menu-item{
    box-sizing: border-box;
    display: inline-block;
    color: var(--light-gray);
    border: 1px solid var(--dark-blue);
    background-color: var(--light-blue);
    min-width: 200px;
    text-align: left;
    padding: var(--padding-menu);
    font-size: 1.3rem;
    cursor: pointer;
}
.menu-item:hover, .nested-menu-item:hover {
    background-color: var(--dark-blue);
}
.menu-item:last-child {
    border-radius:  0 0 0 15px;
}
.nav-wrap > li:hover .wrap-menu {
    visibility: visible;
    opacity: 1;
    transition: all 0.5s ease;
    transform: translate(0px);
}
.menu-item:hover .wrap-nested-menu {
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease;
}
.wrap-nested-menu {
    display: flex;
    opacity: 0.4;
    visibility : hidden;
    flex-direction: column;
    position: absolute;
    /* Problem with calc cannot use --fs-menu instead of literal value */
    transform: translateY(calc(-1.3rem - var(--padding-menu)));
    left: 100%;
}
/* atems adjustments in menu */

.menu-item:first-child {
    margin-top: var(--hr-hight);
}
.menu-item:not(:first-child) {
    margin-top: -2px;
}
