@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: Roboto;
    font-weight: 700;
    background-color: #fff;
}
.section {
    padding: 50px;
    max-width: 1100px;
    background-color: rgba(196, 196, 196, 1);
    margin: 0 auto;
}
.outer-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.inner-container {
    background-color: #E6E6E6;
}
.item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #FC8F8F;
}
.small-box {
    width: 100px;
    height: 100px;
    font-size: 36px;
    line-height: 42.19px;
}
.large-box {
    width: 200px;
    height: 200px;
    font-size: 64px;
    line-height: 75px;
}
.pos-right {
    float: right;
    margin-left: 15px;
}
.pos-left {
    float: left;
    margin-right: 15px;
}