//colors    
$white: #fff;
$black: #000;
$orange-pink: #FF6336;
$soft-peach: #FF9C7D;
$creamy-white: #FFF8E4;
$light-blue: #C9E8F2;
$beige: #DABC98;
$light-gray: #EEEEEE;

//font-size
$fs-xs:   12px;
$fs-s:    15px;
$fs-btn:  16px;
$fs-ms:   18px;
$fs-m:    20px;
$fs-ml:   25px;
$fs-l:    30px;
$fs-ll:   35px;
$fs-lll:  40px;
$fs-xl:   50px;
$fs-xxl:  65px;

$pd-section: min(100px, 12vw);
$pd-block: min(70px, 10vw);
$pd-section-large: min(150px, 20vw);